fastapi==0.110.0
uvicorn==0.29.0
opencv-python-headless==4.9.0.80
ultralytics==8.2.0
torch==2.2.1
requests==2.31.0
python-multipart==0.0.9
gdown==5.1.0
langchain-groq==0.1.2
watchdog==4.0.0
faster-whisper
ffmpeg-python==0.2.0
torchaudio==2.2.1
numpy==1.26.4
pandas==2.2.1
langchain-core==0.1.42
python-dotenv==1.0.1
ctranslate2==4.6.0
transformers==4.41.1
Pillow==10.3.0
lapx>=0.5.2 # Nuevo requerimiento
tokenizers
pymongo

